/* FONTS  */
@font-face {
    font-family: "Poppins";
    src: url("../fonts/") format("woff2"),
    url("../fonts/Poppins-Italic.woff") format("woff");
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: "Poppins";
    src: url("../fonts/Poppins-Regular.woff2") format("woff2"),
    url("../fonts/Poppins-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/* GLOBAL STYLES */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* *:focus {
    outline: #000 1px dashed;
    outline-offset: 1px;
} */

html {
    height: 100%;
    scroll-behavior: smooth;
}
body {
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    font-family: "Poppins", "Arial", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: #000;
    user-select: none;
}
img {
    max-width: 100%;
    height: auto;
}
:root{
    --text-color:#c0c0c0;
    --hover-color:#00ffff;
    --bg-color:#181818;
    --black-color:#000;
    --white-color:#fff;
    --whit-color:#181818;
    --border-color:#fff;
    --read-color:#000;

}
.dark-mode{
    --text-color:#c0c0c0;
    --hover-color:#00ffff;
    --bg-color:#181818;
    --black-color:#000;
    --white-color:#fff;
    --whit-color:#000;
    --border-color:#fff;
    --read-color:#000;
}
.light-btn{
    --text-color:#555;
    --hover-color:#00ffff;
    --bg-color:#fff;
    --black-color:#000;
    --white-color:#000;
    --whit-color:#fff;
    --border-color:#000;
    --read-color:#000;

}
/* CONTAINER SYTLES */
.container {
    overflow: hidden;
    width: 100%;
    max-width: 1440px;
    padding-left: 40px;
    padding-right: 40px;
    margin-left: auto;
    margin-right: auto;
}
.inner-container {
    width: 100%;
    max-width: 1440px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
}

.main {
    flex-grow: 1;
}

/*  HEADER SECTION STYLES */
.site-header {
    padding:24px 0;
    width:100%;
    max-width: 1440px;
    background-color:var(--bg-color);
}
.site-header-container {
    display: flex;
    align-items:center;

}
.header-logo-link {
    text-decoration: none;
    object-fit: contain;
    display: block;
    width:128px;
    height: 31px;
    
}
.header-logo-link path{
    fill: var(--white-color);
}

.site-header-links {
    display: flex;
    margin-left: auto;
}
.site-header-list {
    display: flex;
    align-items:center;
    list-style: none;
}
.site-header-list-item {
    margin-right: 35px;
}
.site-header-list-item__link {
    text-decoration: none;
    font-size: 13px;
    line-height: 20px;
    text-transform: uppercase;
    color: var(--white-color);
}
.site-header-list-item__link:hover{
    cursor:pointer;
    opacity: 0.8;
    color:var(--hover-color);
}
.dark-mode-btn {
    display: inline-block;
    text-transform: uppercase;
    padding: 11px 30px;
    font-size: 16px;
    border:none;
    border-radius: 14px;
    background: var(--border-color);
    color:var(--whit-color);
}
.dark-mode-btn:hover{
    cursor: pointer;
    opacity: 0.8;
}
.dark-mode-btn:active{
    opacity: 0.6;
}


/* HERO SECTION STYLES */
.hero-section {
    width:100%;
    max-width: 1440px;
    height: 716px;
    margin-top: 20px;
    background:linear-gradient(rgba(0, 0, 0,0.6),rgba(0, 0, 0,0.6)),  url(../images/bg\ image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.text-wrapper {
    padding-top: 395px;
    padding-bottom: 71px;
    margin-left: 340px;
    width:580px;
}
.little-title {
    font-weight: 400;
    letter-spacing: 2px;
    text-align: center;
    color:var(--text-color);
    margin-bottom: 1px;
}
.hero-wrapper-title {
    font-size: 54px;
    line-height: 59.4px;
    text-align: center;
    margin-bottom: 16px;
    color:var(--text-color);

}
.hero-wrapper-text {
    line-height: 20px;
    color:var(--text-color);
    text-align:justify;
}
.svg-wrapper{
    display: flex;
    align-items:center;
    padding-top: 20px;
}
.svg-wrapper-list {
    display: flex;
    align-items:center ;
    margin-left: auto;
    list-style:none;
}
.wrapper-list-item{
    display: flex;
    margin-right: 15px;
}
p{  
    margin-left: 5px;
    text-transform: uppercase;
    color:white;
}


/* SERVICES SECTION  STYLES */

.services-section {
    display: flex;
    flex-direction: column;
    align-items:center;
    background-color:var(--bg-color);
    padding-bottom: 100px;
    position: relative;
}
.card-flexer{
    display: flex;
    align-items:center;
    flex-wrap: wrap;
    margin-left: -16px;
    margin-bottom: -16px;
}
.services-text-wrapper {
    width:413px;
    padding-top: 112px;
    margin-left: 511px;
}
.services__title {
    font-size: 40px;
    line-height: 42px;
    text-align: center;
    color:var(--white-color);
    margin-bottom: 15px;
}
.services-text {
    font-size: 20px;
    line-height: 30px;
    color:var(--white-color);
    margin-bottom: 40px;
    /* text-align: center; */
}
.services-card {
    width: 576px;
    height: 600px;
    display: flex;
    flex-direction: column;
    margin-left: 100px;
    background:url(../images/apple.jpg);
    background-repeat:no-repeat;
    /* background-size:576px 600px; */
    object-fit: contain;
    margin-bottom: 16px;
}

.card-text-wrapper {
    padding: 421px 37.5px 30px;
    width: 501px;
    /* height: 80px; */
}
.card-title{
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    color:var(--text-color);
    margin-bottom: 8px;
    text-align: justify;
}
.card-text {
    font-size: 14px;
    /* line-height: 20px; */
    color:var(--text-color);
    margin-bottom: 12px;
    text-align: justify;
    

}
.card-wrapper-link {
    font-size: 15px;
    line-height: 20px;
    letter-spacing: 0.4px;
    text-align:end;
    padding: 11px 40px;
    border-radius:14px;
    color:#000;
    background-color:#fff;
    text-decoration: none;
    position:relative;
}
.card-wrapper-span{
    position: absolute;
    width:20px;
    height: 20px;
    background-color: #000;
    border-radius:40%;
    top:10;
    left:10;
}
.services-card2{
    width: 576px;
    height: 600px;
    margin-left: 16px; 
    margin-bottom: 16px; 
    background:url(../images/building.jpg);
    background-repeat:no-repeat;
    background-size:576px 600px;
    object-fit: contain;
    flex-direction: column;
}
.services-card3{
    width: 576px;
    height: 600px;
    margin-left: 100px;
    margin-top: 16px;
    background:url(../images/tree.jpg);
    background-repeat:no-repeat;
    background-size:576px 600px;
    object-fit: contain;
    flex-direction: column;
}
.services-card4{
    width: 576px;
    height: 610px;
    margin-left: 16px; 
    margin-top: 16px;
    flex-direction: column;
    background:url(../images/deer.jpg);
    background-repeat:no-repeat;
    background-size:576px 600px;
    object-fit: contain;
}
.card-text-wrapper2{
    padding: 421px 37.5px 30px;
    width: 514px;

}
.card-text-wrapper3{
    padding: 401px 37.5px 30px;
    width: 516px;

}
.card-text-wrapper4{
    padding: 390px 37.5px 30px;
    width: 480px;
}

/* BG IMAGE SECTION STYLES */
.background-image__section {
    background-color: var(--bg-color);
    background-image: url(../images/secondbgimg.jpg);
    height: 600px;
}

.bg-img__text-wrapper {
    margin-top: 208px;
    margin-left: 918px;
    width: 298px;
}
.text-wrapper__title {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    color:#fff;
    text-align:left;
    margin-bottom: 8px;
}
.text-wrapper__text {
    font-size: 14px;
    line-height: 20px;
    color:#c0c0c0;
    text-align:left;
}
.svg-wrapper-bg-img-section{
    display: flex;
    align-items:center;
    padding-top: 204px;
    padding-bottom: 45px;
}
    /* IMG SECTION STYLES */

    .two-images-section {
        display: flex;
        align-items:center;
        background-color:var(--bg-color);
    }
    .img-flexer{
        display: flex;
        align-items:center;
    }
    .img-section-sizer{
        width: 720px;
    }
    .two-img-section-wrapper {
        width:514px;
        padding-top: 173px;
        padding-left: 100px;
    }
    .img-section-wrapper-title {
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 2px;
        color:var(--white-color);
        margin-bottom: 6px;
    }
    .img-section-wrapper__subtitle {
        font-size: 28px;
        line-height: 32px;
        color:var(--white-color);
        margin-bottom: 14px;
    }
    .img-section-wrappper__text {
        font-size: 14px;
        line-height: 20px;
        color:var(--white-color);
        margin-bottom: 20px;
    }
    .card-wrapper-link2 {
        font-size: 15px;
        line-height: 20px;
        letter-spacing: 0.4px;
        text-align:end;
        padding: 11px 40px;
        border-radius:14px;
        color: #fff;
        background-color:var(--read-color);
        text-decoration: none;
        position:relative;
    }
    .card-wrapper-span2{
        position: absolute;
        width:20px;
        height: 20px;
        background-color:var(--whit-color);
        border-radius:40%;
        top:10;
        left:10;
    }
    .img-wrapper {
        width: 720px;
        height: 540px;
        background:url(../images/cameras.jpg);
        background-repeat:no-repeat;
        background-size:cover;
        background-position: center;
        margin-left: 106px;
        margin-right: 0px;
        display: inline-block;
    }
    .svg-wrapper-list2{
    display: flex;
    align-items:center ;
    margin-left: auto;
    list-style:none;
    padding-top: 550px;
    padding-left: 250px;
    }

    /* THIRD IMG SECTION STYLES */
    .third-bg-image-section {
        height: 600px;
        display: flex;
        background-color:var(--bg-color);
        background:url(../images/third\ bg\ img.jpg);
        background-repeat:no-repeat;
        background-size:cover;
    }
    .bg-img_wrapper {
        width:273px;
        padding-top: 280px;
        margin-left: 990px;
    }
    .bg-img__title {
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 2px;
        color:#fff;
    }
    .bg-img--text{
        font-size: 14px;
        line-height: 20px;
        color:#c0c0c0;
    }
    .svg-wrapper-list3{
        display: flex;
        align-items:center ;
        margin-left: auto;
        list-style:none;
        padding-top: 162px;
    }
    
    /* THIRD SVG IMG SECTION */
    .partner-section {
        background-color: var(--bg-color);
        display: flex;
        align-items:center;
    }
    
    .partners-wrappper {
        width: 441px;
        padding-top: 113px;
        margin-left: 500px;
    }
    .partners-wrapper__title {
        font-size: 40px;
        line-height: 42px;
        margin-bottom: 15px;
        text-align: center;
        color:var(--white-color);
    }
    .partners-wrappers__subtitle {
        font-size: 24px;
        line-height: 30px;
        color:var(--white-color);
        text-align: center;
    }
    .partners-svg-images {
        display: flex;
        align-items:center;
        padding-top: 111px;
        padding-bottom: 169px;
    }
    .parners-list {
        display: flex;
        align-items:center;
    }
    .partners-list-item {
        list-style: none;
        margin-left: 109px;
    }
    .partners-list-item:not(:last-child){
        margin-left: 109px;
    }
    .partners-list-item path{
        fill: var(--white-color);
    }
    /*  bottom img section styles */

    .bottom-img-section {
        display: flex;
        align-items:center;
        height: 600px;
        background:url(../images/bottom\ bg\ image.jpg);
        background-repeat:no-repeat;
        background-size:cover;
    }
    .bottom-wrapper {
        width:241px;
        padding-top: 206px;
        margin-left: 950px;
    }
    .bottom-wrapper__title {
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 2px;
        color:#fff;
        margin-bottom: 8px;
    }
    .bottom-wrapper-text {
        font-size: 14px;
        line-height: 20px;
        color:#c0c0c0;
    }
    .svg-wrapper-list3 {
        margin-left: 950px;
    }
/* HELP SECTION STYLES */
.help-section {
    background:var(--bg-color);
}
.text-wrapper-help {
    width: 571px;
    padding:117px 0;
    margin-left: 435px;

}
.help-wrapper__titile {
    font-size: 40px;
    line-height: 42px;
    text-align: center;
    color:var(--white-color);
    margin-bottom: 15px;
}
.help-wrapper__subtitle {
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    color:var(--white-color);
    margin-bottom: 22px;
}
.card-wrapper-link {
    margin-left: 200px;
    text-align: center;
    color:#fff;
    background:var(--read-color);
}
.card-wrapper-span {
    background:#fff;
}

/* FOOTER SECTION STYLES */
.footer{
    background:var(--bg-color);
    display: flex;
    align-items:center;
    justify-content: space-between;
}
.footer-logo__link path{
    fill: var(--white-color);
}
.footer-section{
padding-top: 100px;
display: flex;
align-items:center;
}

.footer-logo-wrapper {
    width: 440px;
    
}
.footer-logo__link {
    width: 128px;
    height:31px;
    object-fit: contain;
    margin-bottom: 20px;
}
.footer-logo-link__title {
    font-size: 13px;
    line-height: 20px;
    color:var(--text-color);
}
.lists-wrapper {
    display: flex;
    align-items:center;
    justify-content: space-between;
    margin-left: 270px;
}
.footer-list {
    list-style: none;
}
.footer-list-item {
    text-decoration: none;
    margin-bottom: 10px;
}
.footer-list-item:not(:last-child){
    margin-bottom: 10px;
}
.footer-list-item-link {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    color:var(--text-color);
    text-decoration: none;
}
.footer-list2{
    flex-direction: column;
    list-style: none;
    margin-left: 55px;
}
.footer-hr{
    margin-top: 36px;
    border: solid var(--white-color);
    width: 1168px;
}